.Todo {
  width: calc(100% - 100px);
  max-width: 400px;
  padding: 4px 12px 4px 0;
}
.Todo__data {
  width: calc(100% - 160px);
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 300px;
  border-bottom: 1px solid #727272;
}
.Todo__text {
  text-overflow: ellipsis;
  white-space: nowrap;
}
.Todo__text--complete {
  text-decoration: line-through;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.Todo__checkmark {
  text-align: center;
  border-bottom: 1px solid #727272;
}
.Todo__checkmark--complete {
  text-align: center;
  border-bottom: 1px solid #727272;
}
.Todo__checkmark--complete * {
  opacity: 0.5;
}
@media (max-width: 500px) {
  .Todo__data {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: calc(100vw - 150px);
    border-bottom: 1px solid #727272;
  }
}
